@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}
h1 {
    font-size: 2em; 
  }
h2 {
    font-size: 1.5em; 
  }
h3 {
    font-size: 1.17em; 
  }
h4 {
    font-size: 1em; 
  }
h5 {
    font-size: .83em; 
  }
h6 {
    font-size: .67em; 
  }
p{
    font-size: 1em; 
  }
li{
    font-size: 1em; 
    list-style: circle;
    list-style-position: inside;
  }
  /* 图片样式 */
  img {
    max-width: 100%; /* 图片宽度最大为100% */
    /* 其他样式设置 */
  }
  /* 引用样式 */
  blockquote {
    border-left: 2px solid #333; /* 引用区块左边框样式 */
    padding-left: 10px; /* 引用区块左内边距 */
    /* 其他样式设置 */
  }
  
  /* 代码块样式 */
  pre {
    background-color: #f5f5f5; /* 代码块背景色 */
    padding: 10px; /* 代码块内边距 */
    /* 其他样式设置 */
  }
  
  /* 粗体样式 */
  strong {
    font-weight: bold; /* 粗体字体 */
    /* 其他样式设置 */
  }
  
  /* 斜体样式 */
  em {
    font-style: italic; /* 斜体字体 */
    /* 其他样式设置 */
  }